body {
  background: #d4b9a2;
}

a:link {
  text-decoration: none;
}

.block-0 {
  background-image: url(../images/wall_t7.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.block-0-page2 {
  background-image: url(../images/wall_t7.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.block-1 {
  background-color: #303030;
  padding-top: 1%;
  padding-bottom: 1%;
}

.shopping-cart {
  color: white;
  font-family: "Lobster", cursive;
  font-size: 2em;
  font-weight: bold;
}

h1 {
  color: #303030;
  font-family: "Lobster", cursive;
  font-size: 9em;
  font-weight: bold;
}

h2 {
  font-family: "Lobster", cursive;
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 10%;
  text-align: center;
}

.name {
  color: white;
  font-family: "Lobster", cursive;
  font-size: 3em;
  font-weight: bold;
}
.slogan {
  color: #303030;
  font-family: "Lobster", cursive;
  font-size: 3.5em;
  font-weight: bold;
}

.presentation {
  margin-top: 20%;
}

.products_list {
  margin-top: 5%;
}

.card {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-text-2 {
  font-weight: bold;
}

.fas {
  color: white;
}

.fa {
  color: white;
}



footer {
  background-color: #303030;
  border-top: 3px solid white;
}

.join-us {
  margin-top: 5%;
  color: white;
  font-family: 'Monserrat', sans-serif;
}

.copyright {
  margin-top: 5%;
  margin-bottom: 5%;
  color: white;
  font-family: "Lobster", cursive;
  font-size: 1.5em;
  font-weight: bold;
}



